.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

pnpm-lock.yaml
package-lock.json
yarn.lock

.pnpm-debug.log
npm-debug.log
yarn-error.log

src/lib/content
/src/lib/styles
/static

src/lib/comps/ClassTable.svelte
src/lib/comps/ClassTableProperties.svelte
