@layer base
{
	::selection { @apply bg-primary/20 }
	* { @apply drag-none tap-highlight-transparent }
	html { @apply scroll-smooth }
	body { @apply antialiased bg-gray-800 text-gray-300 overflow-x-hidden }
	b, strong { @apply font-semibold }
	hr { @apply border-white/10 }
	.container { @apply !max-w-screen-xl }
	th { @apply font-semibold }
	img { @apply text-[0] }
	svg { @apply inline-block w-[1em] h-[1em] fill-current pointer-events-none;
		&[fill="none"] { @apply fill-none }
	}
}
