@layer base
{
	::selection { @apply bg-primary/20 }
	* { @apply drag-none;
		-webkit-tap-highlight-color: transparent;
	}
	html { @apply scroll-smooth }
	body { @apply antialiased bg-gray-800 text-gray-300 overflow-x-hidden font-base }
	code, kbd, samp, pre { @apply font-code }
	b, strong { @apply font-semibold }
	svg { @apply w-6 h-6 inline-block }
	hr { @apply border-white/10 }
	.container { @apply !max-w-screen-xl }
	th { @apply font-semibold }
}
