@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./base/fonts.css";
@import "./base/base.postcss";
@import "./base/scrollbar.postcss";
@import "./components/article-content.postcss";
@import "./utilities/link.postcss";
@import "./utilities/code.postcss";

.toaster .wrapper .base {
	@apply bg-gray-800 text-gray-300 text-sm;
}
