@layer components
{
	.btn {
		@apply relative inline-flex items-center justify-center py-2 px-3 select-none drag-none;
		@apply text-xs bg-gray-800 rounded drop-shadow duration-150;
		@apply hover:bg-gray-700;
	}

	.btn-link {
		@apply btn;
		@apply bg-white/[1%] hover:bg-white/[1%];
		@apply shadow backdrop-blur;
		@apply link;
	}
}
